/* font */
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
    font-family: "LutskSity";
    src: url("../font/Lutsk-sity.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nastup";
    src: url("../font/Nastup-Basic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.font-archivo {
    font-family: "Archivo Black", sans-serif;
}

.font-Urbanist {
    font-family: "Urbanist", sans-serif;
    font-weight: 400;
}

.font-Nastup {
    font-family: "Nastup";
}

body {
    min-width: 1340px;
    /* border: 10px solid red; */
}

.no-scroll {
    overflow: hidden !important;
    position: fixed !important;
    width: 100vw !important;
    left: 0 !important;
    top: 0 !important;
    touch-action: none !important;
}

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    margin: -1px;
}

.upper {
    text-transform: uppercase;
}

/* 카드 */
.card-grid_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 20px;

    perspective: 1200px;
    transform-style: preserve-3d;
    transform-origin: top center;
    /* 스크롤 애니메이션의 기준 */
}

.grid-card_item {
    position: relative;
    color: #000;

    aspect-ratio: 336 / 467;
    perspective: 1200px;
}

.card-label {
    display: block;

    font-size: 18px;
    font-weight: 600;

    border-top: 1px solid;
    padding: .5rem 0;
}

.card-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    width: 100%;

    /* border: 1px solid #000; */
}

.impact-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
}

.img-front_wrap {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    overflow: hidden;
}

.img-front_wrap img {
    width: 100%;
}

.card-separator {
    background: currentColor;
    height: .1rem;
    margin: .5rem 0;
    opacity: .3;
}

.card-main .impact-wrap .right {
    font-size: 30px;
    font-weight: 600;
}

.card-main .desc {
    font-size: 18px;
    font-weight: 600;
}

.card-main .desc .title {
    display: block;

    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.card-main .desc .wrap {
    display: flex;
    justify-content: space-between;
}


.card-main .desc .way {
    display: block;

    font-size: 14px;
    color: #929292;
}

.card-main .desc .price {
    display: block;

    font-size: 16px;
    font-weight: 500;
}


.card-footer {
    display: flex;
    justify-content: space-between;

    /* border: 1px solid #000; */
}

.card-footer .text {
    font-size: 20px;
    font-weight: 600;
}

.card-footer .fa-solid {
    font-size: 34px;
}

.grid-card_front,
.grid-card_back {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;

    width: 100%;
    aspect-ratio: 336 / 467;
    padding: 25px;

    backface-visibility: hidden;
    transform-style: preserve-3d;

    transition: transform 0.3s ease-out;
    transform-origin: top;
}

.grid-card_front {
    transform: rotateX(-25deg) rotateY(0deg);
    background-color: rgb(255, 255, 255);
}

.grid-card_front.active {
    transform: rotateX(0deg) rotateY(0deg);
}

.img-front_wrap {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    width: 40%;
    overflow: hidden;
}

.grid-card_front img {
    width: 100%;
    height: 100%;
}

.grid-card_back {
    transform: rotateX(-25deg) rotateY(180deg);
    overflow: hidden;
}

.grid-card_item:hover .grid-card_front {
    transform: rotateX(0deg) rotateY(-180deg);
}

.grid-card_item:hover .grid-card_back {
    transform: rotateX(0deg) rotateY(0deg);
}


/* bg */
.bg01 {
    background-color: #C5AE27;
}

.bg02 {
    background-color: #C79800;
}

.bg03 {
    background-color: #B966B4;
}

.bg04 {
    background-color: #080066;
}

.bg05 {
    background-color: #983510;
}

.bg06 {
    background-color: #95747A;
}

.bg07 {
    background-color: #871510;
}

.bg08 {
    background-color: #918E4F;
}

.bg09 {
    background-color: #122800;
}

.bg10 {
    background-color: #0D0163;
}

.bg11 {
    background-color: #A26228;
}

.bg12 {
    background-color: #2E7E5F;
}

.bg13 {
    background-color: #B37164;
}

.bg14 {
    background-color: #015270;
}

/* w-bg */
.w-bg01 {
    background-color: #128C50;
}

.w-bg02 {
    background-color: #484848;
}

.w-bg03 {
    background-color: #715F40;
}

.w-bg04 {
    background-color: #161616;
}

.w-bg05 {
    background-color: #161616;
}

.w-bg06 {
    background-color: #005C31;
}

.w-bg07 {
    background-color: #758698;
}

.w-bg08 {
    background-color: #000A39;
}

.w-bg09 {
    background-color: #6D8730;
}

.w-bg10 {
    background-color: #DB384F;
}

.w-bg11 {
    background-color: #161616;
}

.w-bg12 {
    background-color: #001748;
}

.w-bg13 {
    background-color: #00488F;
}

.w-bg14 {
    background-color: #161616;
}

.grid-card_back .img-back-wrap {
    width: 40%;
}

.grid-card_back .img-back-wrap img {
    width: 100%;
    height: 100%;
}

.grid-card_back .back-tf_txt {
    display: flex;
    gap: 40px;
    flex: 1;
    align-items: center;

    width: max-content;
    white-space: nowrap;

    animation: marquee 10s linear infinite;
    will-change: transform;

    /* border: 1px solid #000; */
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.grid-card_back .back-tf_txt span {
    flex-shrink: 0;

    font-size: 80px;
    font-weight: 600;

    color: #fff;
    padding-right: 40px;
}

.grid-card_back .card-footer .text {
    color: #fff;
}

.grid-card_back .card-footer .fa-solid {
    color: #fff;
}

.grid-card_back .card-footer .fa-solid {
    transition: transform 0.4s ease;
}

.grid-card_back .card-footer .fa-solid:hover {
    transform: rotate(90deg);
}

.grid-card_item:nth-child(13) {
    grid-column: 2;
}

.grid-card_item:last-child {
    grid-column: 3;
}